*.sh
sqLOGs
myTestRun
DB
bin/*.rst
bin/*.c
bin/*.gz
bin/cdhit-master/
bin/lambda/
bin/swarm-master/
bin/dnaclust_linux_release3/
bin/vsearch-2.0.4
bin/FastTr*
bin/clustalo-1.2.0-Ubuntu-x86_64
maps
*.zip
LotuSlicense.txt
update_lotus.sh
.git

