*.sh
sqLOGs
myTestRun
DB
test/
rtk_src
lotus.pl
lOTUs.cfg
config.txt
myTestRun
bin/vxtr/vxtractor.pl
bin/vxtr/
bin/rdp_classifier_2.12
bin/infernal-1.1.2-linux-intel-gcc/
bin/ITSx_1.0.11/
bin/FLASH*
bin/iqtree*
bin/mafft-linux64/
bin/minimap2-2.17_x64-linux
bin/*.rst
bin/*.c
bin/*.gz
bin/cdhit-master/
bin/lambda/
bin/swarm-master/
bin/dnaclust_linux_release3/
bin/vsearch-2.0.4
bin/FastTr*
bin/clustalo-1.2.0-Ubuntu-x86_64
maps
*.zip
LotuSlicense.txt
update_lotus.sh
.git

